<% include head %>

  <body>
  	<% include header %>

  	<!-- Modal -->
		<div class="modal fade" id="commomModal" tabindex="-1" role="dialog" aria-labelledby="login and Register">
		  <div class="modal-dialog" role="document">
		  	<div class="modal-content">
		  	</div>
		  </div>
		</div>

  </body>

  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript">
  $(function(){
  	$("#login").click(function(){
  		$("#commomModal").find(".modal-content").load('/login',function(){
  			$("#commomModal").modal('show');
  		});
  	});

    $("#register").click(function(){
      $("#commomModal").find(".modal-content").load('/register',function(){
        $("#commomModal").modal('show');
      });
    });
  });
  </script>

</html>
